<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- City bean'i -->
    <bean id="cityBean" class="org.example.task.model2.task2.tk1.City" scope="prototype">
        <property name="name" value="${city.name}" />
        <property name="numberOfPeople" value="${city.numberOfPeople}" />
        <property name="size" value="${city.size}" />
    </bean>

    <!-- city.properties faylini o'qish uchun PropertyPlaceholderConfigurer -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:city.properties"/>
    </bean>

</beans>