<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="transform" class="org.example.task.model2.task3.tk1.Transform" />

    <bean id="transformAspect" class="org.example.task.model2.task3.tk1.TransformAspect" />

    <aop:config>
        <aop:aspect ref="transformAspect">
            <aop:before method="beforeStart" pointcut="execution(* org.example.task.model2.task3.tk1.Transform.start())" />
            <aop:after method="afterStart" pointcut="execution(* org.example.task.model2.task3.tk1.Transform.start())" />
            <aop:after-returning method="afterReturningStart" pointcut="execution(* org.example.task.model2.task3.tk1.Transform.start())" returning="result"/>
        </aop:aspect>
    </aop:config>

</beans>